<%= form_for :task, url: project_tasks_path(project), remote: true do |form| %>
    <div class="input-group">
      <%= form.text_field :name, id: nil, class: 'form-control task-name', required: true, maxlength: '50', minlength: '2' %>
      <span class="input-group-btn">
        <%= form.submit 'Add Task', class: 'btn green-gradient' %>
      </span>
    </div>
<% end %>