<div class="col-xs-2 task-cell"><p><%= task.status %></p></div>
<div class="col-xs-6 task-cell"><p><%= task.name %></p></div>
<div class="col-xs-2 task-cell"><p class="text-right"><%= task.deadline.to_formatted_s(:short) if task.deadline %></p></div>
<div class="col-xs-2 task-cell">
  <%= render partial: 'tasks/links', locals: { task: task } %>
</div>