<div class="task-item" data-task-id="<%= task.id %>">
  <% if controller_name == 'tasks' && action_name == 'edit' && task.id == @task.id %>
      <%= render partial: 'tasks/form', locals: { task: task } %>
  <% else %>
      <%= render partial: 'tasks/task_row', locals: { task: task } %>
  <% end %>
</div>