body {
  min-height:100vh;

  background-color: lightyellow;
  background-image: image-url('wallpaper.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  header {
    nav.navbar p.navbar-text > * {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  main {
    margin-bottom: 20px;
  }

  footer {
    min-height: 100px;
    padding-top: 40px;
  }
}