// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-item {
  background-color: white;
  margin: 50px 5px;
  padding-bottom: 10px;
  border: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 2px 2px #888;

  .project-heading {
    height: 50px;
    font-size: 22px;
    color: white;
  }
}